.floating-florals {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1000;
  overflow: hidden;
}

.floral-float {
  position: absolute;
  font-size: 2rem;
  opacity: 0.15;
  animation: floatFloral 20s ease-in-out infinite;
}

.floral-1 {
  top: 10%;
  left: 5%;
  animation-delay: 0s;
  animation-duration: 25s;
}

.floral-2 {
  top: 30%;
  right: 10%;
  animation-delay: 3s;
  animation-duration: 30s;
}

.floral-3 {
  bottom: 20%;
  left: 8%;
  animation-delay: 6s;
  animation-duration: 28s;
}

.floral-4 {
  top: 60%;
  right: 5%;
  animation-delay: 9s;
  animation-duration: 32s;
}

.floral-5 {
  bottom: 40%;
  left: 15%;
  animation-delay: 12s;
  animation-duration: 27s;
}

.floral-6 {
  top: 80%;
  right: 20%;
  animation-delay: 15s;
  animation-duration: 29s;
}

@keyframes floatFloral {
  0%, 100% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 0.15;
  }
  25% {
    transform: translate(20px, -30px) rotate(5deg);
    opacity: 0.2;
  }
  50% {
    transform: translate(-15px, -50px) rotate(-5deg);
    opacity: 0.18;
  }
  75% {
    transform: translate(25px, -20px) rotate(3deg);
    opacity: 0.2;
  }
}

@media (max-width: 768px) {
  .floral-float {
    font-size: 1.5rem;
    opacity: 0.1;
  }
}

